
services:
    postgres:
        image: postgres:14-alpine
        container_name: n8n_postgres
        restart: unless-stopped
        # Expose port 5432 only internally to the n8n container.
        # We do NOT expose it externally (no "ports:" mapping here) for security.
        environment:
          # --- PostgreSQL Configuration ---
          # IMPORTANT: Change the password below to a strong, secure value!
          - POSTGRES_USER=n8nlocal
          - POSTGRES_PASSWORD=Temp4now
          - POSTGRES_DB=n8n
        volumes:
          - /mnt/nas4/dockers/n8n/data_postgres:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -h localhost -U n8nlocal -d n8n']
            interval: 5s
            timeout: 5s
            retries: 10

    n8n:
        image: n8nio/n8n:latest
        container_name: n8n
        restart: unless-stopped
        ports:
          # Host_Port:Container_Port - Access n8n via http://localhost:5678
          - "5678"
        environment:
          # --- General n8n Configuration ---
          #- N8N_HOST=localhost # Change if you are using a public domain/IP
          - N8N_PORT=5678
          - N8N_PROTOCOL=http
          - GENERIC_TIMEZONE=America/New_York # Change to your preferred timezone
          - N8N_BASIC_AUTH_ACTIVE=true
          - N8N_BASIC_AUTH_USER=n8nlocal
          - N8N_BASIC_AUTH_PASSWORD=Temp4now
          - N8N_EDITOR_BASE_URL=https://n8n.tactik8.com  
          - NODE_FUNCTION_ALLOW_EXTERNAL=* 
          - N8N_NODE_FUNCTION_ALLOW_BUILTIN=* 
          - WEBHOOK_URL=https://n8n.tactik8.com    
          - N8N_PROTOCOL=https  
          - EXECUTIONS_DATA_PRUNE=true
          - EXECUTIONS_DATA_MAX_AGE=72
          - N8N_LICENSE_ACTIVATION_KEY=89fbe119-9897-447b-bbd2-d50d45f30c36
          - N8N_COMMUNITY_PACKAGES_ENABLED=true
          - N8N_TEMPLATES_ENABLED=true
          - N8N_REINSTALL_MISSING_PACKAGES=true
          - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=false
          - N8N_RUNNERS_ENABLED=true
          - DB_TYPE=postgresdb
          - DB_POSTGRESDB_HOST=postgres
          - DB_POSTGRESDB_DATABASE=n8n
          - DB_POSTGRESDB_USER=n8nlocal
          - DB_POSTGRESDB_PASSWORD=Temp4now
          - DB_POSTGRESDB_PORT=5432
        volumes:
          # Persistent storage for n8n configuration, workflow files, and custom nodes
          - /mnt/nas4/dockers/n8n/data_n8n:/home/node/.n8n
        depends_on:
          - postgres
