version: '3.8'

services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add: [NET_ADMIN]
    devices:
      - /dev/net/tun:/dev/net/tun
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - VPN_TYPE=wireguard
      - WIREGUARD_PRIVATE_KEY=${PROTONVPNKEY}
      - VPN_PORT_FORWARDING=on
      - VPN_PORT_FORWARDING_PROVIDER=protonvpn
      - PORT_FORWARD_ONLY=on
      - SERVER_COUNTRIES=Canada
      - FIREWALL_OUTBOUND_SUBNETS=192.168.0.0/16,172.16.0.0/12
      - FIREWALL_INPUT_PORTS=8080,8096,6969,7878,8989,9696,8686,8787,5055,8191,8090
      - TZ=America/Toronto
      - DOT=on
      - DOT_PROVIDERS=cloudflare
      - VPN_PORT_FORWARDING_UP_COMMAND=sh -c 'until wget -qO- --post-data="json=%7B%22listen_port%22%3A%22{{PORT}}%22%7D" http://127.0.0.1:8080/api/v2/app/setPreferences; do sleep 5; done'
    ports:
      - 8080:8080 # qBittorrent
      - 6969:6969 # Whisparr
      - 7878:7878 # Radarr
      - 8989:8989 # Sonarr
      - 9696:9696 # Prowlarr
      - 8686:8686 # Lidarr
      - 5055:5055 # Jellyseerr
      - 8191:8191 # FlareSolverr
      - 8090:8090 # Mylarr
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    network_mode: "service:gluetun"
    depends_on:
      gluetun:
        condition: service_healthy
    environment:
      - PUID=501
      - PGID=100
      - WEBUI_PORT=8080
    volumes:
      - /mnt/nas4/dockers/arrstack/qbittorrent:/config
      - /mnt/nas4/media/torrents:/data/media/torrents
      - /mnt/nas4/media2/torrents:/data/vault/torrents
    restart: unless-stopped



  whisparr:
    image: ghcr.io/hotio/whisparr:v3
    container_name: whisparr
    network_mode: "service:gluetun"
    environment:
      - PUID=501
      - PGID=100
    volumes:
      - /mnt/nas4/dockers/arrstack/whisparr:/config
      - /mnt/nas4/media2:/data/vault
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    network_mode: "service:gluetun"
    environment:
      - PUID=501
      - PGID=100
    volumes:
      - /mnt/nas4/dockers/arrstack/radarr:/config
      - /mnt/nas4/media:/data/media
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    network_mode: "service:gluetun"
    environment:
      - PUID=501
      - PGID=100
    volumes:
      - /mnt/nas4/dockers/arrstack/sonarr:/config
      - /mnt/nas4/media:/data/media
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    network_mode: "service:gluetun"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/Toronto
    volumes:
      - /mnt/nas4/dockers/arrstack/prowlarr:/config
    restart: unless-stopped

  lidarr:
    image: lscr.io/linuxserver/lidarr:latest
    container_name: lidarr
    network_mode: "service:gluetun"
    environment:
      - PUID=501
      - PGID=100
      - TZ=America/Toronto
    volumes:
      - /mnt/nas4/dockers/arrstack/lidarr:/config
      - /mnt/nas4/media:/data/media
    restart: unless-stopped

  mylar3:
    image: lscr.io/linuxserver/mylar3:latest
    container_name: mylar3
    network_mode: "service:gluetun"
    environment:
      - PUID=501
      - PGID=100
      - TZ=America/Toronto
    volumes:
      - /mnt/nas4/dockers/arrstack/mylarr:/config
      - /mnt/nas4/media2/comics:/comics
      - /mnt/nas4/media2/comics/download:/downloads
    restart: unless-stopped


  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    network_mode: "service:gluetun"
    environment:
      - LOG_LEVEL=debug
      - TZ=America/Toronto
    volumes:
      - /mnt/nas4/dockers/arrstack/jellyseerr:/app/config
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    network_mode: "service:gluetun"
    restart: unless-stopped

  unpackerr:
    image: golift/unpackerr:latest
    container_name: unpackerr
    network_mode: "service:gluetun"
    environment:
      - TZ=America/Toronto
      - UN_SONARR_0_URL=http://localhost:8989
      - UN_SONARR_0_API_KEY=ADD_SONARR_KEY_HERE
      - UN_RADARR_0_URL=http://localhost:7878
      - UN_RADARR_0_API_KEY=ADD_RADARR_KEY_HERE
      - UN_LIDARR_0_URL=http://localhost:8686
      - UN_LIDARR_0_API_KEY=ADD_LIDARR_KEY_HERE
      - UN_READARR_0_URL=http://localhost:8787
      - UN_READARR_0_API_KEY=ADD_READARR_KEY_HERE
    volumes:
      - /mnt/nas4/media/torrents:/data/media/torrents
      - /mnt/nas4/media2/torrents:/data/vault/torrents
    restart: unless-stopped
