services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    ports:
      - 3129:8888 # HTTP Proxy port
    environment:
      - VPN_SERVICE_PROVIDER=protonvpn
      - OPENVPN_USER=${PROTONVPNUSER}
      - OPENVPN_PASSWORD=${PROTONVPNPASSWORD}
      - SERVER_COUNTRIES=Canada # Or your preferred country
      - HTTPPROXY=on # Enables the tinyproxy equivalent
      - FIREWALL_OUTBOUND_SUBNETS=192.168.0.0/16,172.16.0.0/12,10.0.0.0/8
    restart: unless-stopped
